<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"/>

    <link rel="stylesheet" href="/css/style.css" />
    <title>Country Table</title>
  </head>

  <body>
    <div class="container">
      <div class="add-btn">
        
        <button
          type="button"
          class="btn"
          data-toggle="modal"
          data-target="#insertModal"
        >
          Add country
        </button>

      </div>

      <table class="table-hover">
        <thead>
          <tr>
            <th>Flag</th>
            <th>Country Name</th>
            <th>Currency</th>
            <th>Population</th>
            <th>GDP</th>
            
          </tr>
        </thead>

        <tbody>
          {%for val in result%}
          <tr>
            <td>
              <img class="country-img" src="{ val[5]}}" alt="country-img" />
            </td>
            <td>{ val[1]}}</td>
            <td>{ val[2]}}</td>
            <td>{ val[3]}}</td>
            <td>{ val[4]}}</td>
            <td>
              <a
                href="/update/{ val[0]}}"
                data-toggle="modal"
                data-target="#editModal{ val[0]}}"
                class="btn"
                style="background-color: #0d9f4c"
              >
                Edit
              </a>
              </td>
              <td>
              <a
                class="btn"
                href="/country-table-delete/{ val[0]}}"
                style="background-color: #842050"
                >Delete</a
              >
            </td>
          </tr>

          

    <!--insert -->
    <div
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      class="modal fade"
      id="insertModal"
      
    >
      <div role="document">
        <div class="modal-content">
          <div class="modal-header">
              Add Country
            <button
              type="button"
              class="close"
              data-dismiss="modal"   
            >
              <span aria-hidden="true">&times;</span>

            </button>
          </div>
          <div class="modal-body">
            <form action="/country-table" method="post">
              <div class="form-group">
                <label>Country Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="country_name"
                  placeholder="Enter country name"
                />
              </div>

              <div class="form-group">
                <label>Currency</label>
                <input
                  type="text"
                  class="form-control"
                  name="currency"
                  placeholder="Enter currency of the country"
                />
              </div>

              <div class="form-group">
                <label>Population</label>
                <input
                  type="text"
                  class="form-control"
                  name="population"
                  placeholder="Enter population of the country"
                />
              </div>

              <div class="form-group">
                <label>GDP</label>
                <input
                  type="text"
                  class="form-control"
                  name="gdp"
                  placeholder="Enter gdp of the country"
                />
              </div>

              <div class="form-group">
                <label>Flag URL</label>
                <input
                  type="text"
                  class="form-control"
                  name="flag_url"
                  placeholder="Enter flag URL of the country"
                />
              </div>

              <div class="modal-footer">
                <button
                  type="submit"
                  class="btn"
                  style="background-color: #0f5132"
                >
                  Submit
                </button>
                
              </div>
            </form>

          </div>
        </div>

        <!--update -->
            <div
            class="modal fade"
            id="editModal{ val[0]}}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div
                  class="modal-header"
                  style="background-color: hsl(0, 0%, 0%)"
                >
                    Edit country
                     <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/country-table-update" method="post">
                    <div class="form-group">
                      <input
                        type="hidden"
                        class="form-control"
                        name="id"
                      val="{ val[0]}}"
                      />
                    </div>

                    <div class="form-group text-left">
                      <label>Country Name</label>
                      <input
                        type="text"
                        class="form-control"
                        name="country_name"
                      val="{ val[1]}}"
                        placeholder="Enter country name"
                      />
                    </div>

                    <div class="form-group text-left">
                      <label>Currency</label>
                      <input
                        type="text"
                        class="form-control"
                        name="currency"
                      val="{ val[2]}}"
                        placeholder="Enter currency of the country"
                      />
                    </div>

                    <div class="form-group text-left">
                      <label>Population</label>
                      <input
                        type="text"
                        class="form-control"
                        name="population"
                      val="{ val[3]}}"
                        placeholder="Enter population of the country"
                      />
                    </div>

                    <div class="form-group text-left">
                      <label>GDP</label>
                      <input
                        type="text"
                        class="form-control"
                        name="gdp"
                      val="{ val[4]}}"
                        placeholder="Enter gdp of the country"
                      />
                    </div>

                    <div class="form-group text-left">
                      <label>Flag URL</label>
                      <input
                        type="text"
                        class="form-control"
                        name="flag_url"
                      val="{ val[5]}}"
                        placeholder="Enter flag URL of the country"
                      />
                    </div>

                    <div class="modal-footer">
                      <button
                        type="submit"
                        class="btn"
                        style="background-color: #0f5132"
                      >
                        Save Changes
                      </button>
                      
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          {%endfor%}
        </tbody>
      </table>

        </div>
      </div>
    </div>

  </body>
</html>
