<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Single Row Insert</title>
  </head>
  <body>
    <div class="container">
      <form action="/single-row-insert" method="post" class="add-btn-conternar">
        <input class="btn" type="submit" val="insert row" />
      </form>

      <table>
        <tbody>
          <tr>
            <th>ID</th>
            <th>Country Name</th>
            <th>Currency</th>
            <th>Population</th>
            <th>GDP</th>
            <th>Flag URI</th>
          </tr>

          {%for val in result%}
          <tr>
            <td>{{val[0]}}</td>
            <td>{{val[1]}}</td>
            <td>{{val[2]}}</td>
            <td>{{val[3]}}</td>
            <td>{{val[4]}}</td>
            <td>{{val[5]}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
     
    </div>
  </body>
</html>
